<div class='container'>
    <div class='jumbotron'>
        <h1 class='display-4'>About Me</h1>
        <div class='row'>
            <p style='text-align: justify'>
                Here is some general 'about' info
            </p>
            <hr class='my-4'>
        </div>
        <div class="btn-group" role="group" aria-label="Alternative media's">
          <button type="button" onclick='window.location.href = "https://github.com/FerruccioSisti"' class="btn btn-secondary">GitHub</button>
          <button type="button" onclick='window.location.href = "https://sisti.myweb.cs.uwindsor.ca"' class="btn btn-secondary">Personal Website</button>
        </div>
    </div>
</div>
